nltk
json
pandas
matplotlib
uvicorn
fastapi

ast



textblob
spacy
spacytextblob
matplotlib


numpy


requests



spacy
spacy-legacy
spacy-loggers
spacytextblob 


starlette
textblob
